<!DOCTYPE html>
<html>
<head>
  <title>日程調整サイト生成サイト</title>
  <%= stylesheet_link_tag 'application', media:'all', 'data-turbolinks-track'=>true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track'=>true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
  <style>input[type="text"]{width:400px;}</style>

</head>
<body>
  <h1>日程調整サイト生成サイト</h1>
  <div  class="big">
    <div class="small">

      <%=form_tag("example/inform", name:"make")  do %>
      <div class="left">
        <h2 class="title">日付を選択してください。</h2>
        <p>選択日付</p>
        <input type="text" id="flatpickr1" name="day">
      </div><br />

      <div class="right">
        <h2 class="title">時間を選択してください。</h2>
        <p>開始時刻</p>
        <input type="text" id="flatpickr2" name="start">
        <p>終了時刻</p>
        <input type="text" id="flatpickr2" name="finish">
      </div><br />

      <br>
      <input type="submit" value="作成" onclick="return checkForm();">
      <% end %>

    </div>
  </div>
  <div class="under">
    <p class="copyright">&#169;2019 Shumaikun</p>
  </div>

  <script>
    flatpickr("#flatpickr1",
    {locale:"ja",
    minDate:"today",
    mode: "multiple",
    dateFormat: "m/d",

  });
  flatpickr("#flatpickr2",
  {
    enableTime: true,
    noCalendar: true,
    dateFormat: "H",
    time_24hr: true,

  });
</script>

</body>
</html>
