<!DOCTYPE html>
<html>
<head>
  <title>日程調整サイト</title>
  <%= stylesheet_link_tag 'application', media:'all', 'data-turbolinks-track'=>true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track'=>true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
  <style>input[type="text"]{width:500px;}</style>



</head>
<body>
  <h1>日程調整サイト</h1>
  <div  class="big">
    <div class="small">

<%=form_tag("example/inform", name:"vote")  do %>
<input type="text" id="flatpickr1" name="day">

<input type="text" id="flatpickr2" name="start">
<input type="text" id="flatpickr2" name="finish">

<input type="submit" value="作成">
<% end %>

    </div>
  </div>
  <div class="under">
    <p class="copyright">&#169;2019 Shumaikun</p>
  </div>

  <script>
    flatpickr("#flatpickr1",
    {locale:"ja",
    minDate:"today",
    mode: "multiple",
    dateFormat: "m/d",
    inline: true,
  });
  flatpickr("#flatpickr2",
  {
    enableTime: true,
    noCalendar: true,
    dateFormat: "H",
    time_24hr: true,
    inline: true,
});
  </script>

</body>
</html>
