投票サイトを作成しました。
日付は、<%@input_day.each do|h|%>
<%=h %>
<% end %>
<%=@input_hour %>

<h2><%= link_to("http://localhost:3000/#{@page_count}/vote","http://localhost:3000/#{@page_count}/vote") %>で投票できます。</h2>
