/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
   background-color:#F0F0F0;
   width:100%;
   text-align:center;
 }

 .big{
   width:1000px;
   margin:0 auto;

   background-color:#ffffff;
 }

 .small{
   width:950px;
   padding-top:10px;
   padding-bottom: 50px;
   margin:0 auto;
   text-align:left;
   background-color: #ffffff
 }

 .under{

   background:#555;
   padding: 80px 0;
 }

 .copyright{
   color:white;
   font-size:20px;
   text-align: center;
 }

 h1 {
 position: relative;
 background: #fff0d9;
 font-size: 35px;
 border-bottom: solid 3px orange;
 margin-top:auto;
 margin-bottom:auto;
 height: 70px;
 padding-top: 20px;
 }

.left{
  text-align: left;

}

.right{

}

.title {
  position: relative;/*相対位置*/
  padding: 0.5em 0.5em 0.5em 1.5em;/*アイコン分のスペース*/
  line-height: 1.4;/*行高*/
  color: #ff6a6a;/*文字色*/
  border-top: dotted 1px gray;
  border-bottom: dotted 1px gray;
  background: #fffff4;
}

.title:before {
  font-family: "Font Awesome 5 Free";/*忘れずに*/
  content: "\f138";/*アイコンのユニコード*/
  position: absolute;/*絶対位置*/
  font-size: 1em;/*サイズ*/
  left: 0.25em;/*アイコンの位置*/
  top: 0.5em;/*アイコンの位置*/
  color: #ff6a6a; /*アイコン色*/
}


input[type="submit"]{
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  background: white;

  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

.button1{
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #66cdaa;
  background: white;

  border: solid 2px #66cdaa;
  border-radius: 3px;
  transition: .4s;
}

.button2{
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #fa8072;
  background: white;

  border: solid 2px #fa8072;
  border-radius: 3px;
  transition: .4s;
}

input[type="submit"]:hover {
  background: #67c5ff;
  color: white;
}

.button1:hover {
  background: #66cdaa;
  color: white;
}

.button2:hover {
  background: #fa8072;
  color: white;
}

input[type="text"]
{
    border-color: #e0ffff;   /* 枠線の色 */
    background-color: #f8f8ff;  /* 背景色 */
    outline: none;           /* ※ブラウザが標準で付加する線を消したいとき */
}

p{
  margin:2 0;
}
